/*-- scss:defaults --*/


$primary: #e5d1b8;
$secondary: #2b2129;
$tertiary: #46b29e;

$orange: #DE8E59;
$green: #708a81;
$sand: #e5d1b8;
$terracota: #c2956e;
$brown: #2b2129;
$marron: #66575c;
$acqua: #d3eee5;
$chery: #ee3a58;

/* -- scss:rules --*/

$code-block-bg: $secondary;
$code-bg: $secondary;
$code-color: $tertiary;
$narrative-background-color-siderbar: $marron;

.navbar[data-bs-theme="dark"] {
  background-color: #e5d1b8 !important;
}